body {
    background-image: url('https://image.freepik.com/foto-gratis/madera-vacia-perspectiva-tablero-mesa-sobre-restaurante-falta-definicion-fondo-ligero-bokeh_7190-842.jpg');
    background-size: cover;
    background-repeat: no-repeat;
};